---
layout: default
---

<div class="home">

  <h1 class="page-heading">Minetest Dev Wiki</h1>

  <ul class="page-list">
    {% for page in site.pages %}
      <li>
        <h2>
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
